<div ng-controller="AuthenticationController as auth">
  <!-- <p ng-hide="auth.loggedIn"> -->
  <p>
    <a id="login-btn"
      class="button button-border-primary button-rounded button-jumbo"
      ng-href="// auth.loginUrl //">Login</a>
  </p>

  <!-- <div ng-show="auth.loggedIn" class="left-align">
    <h1>Hi // auth.currentUser.name //,</h1>
    <h3>You successfully logged in <i class="fa fa-thumbs-o-up fa-2x"></i></h3>
    <p>
      Hi // auth.currentUser.name //,<br>
      I'm glad you are here.
      // auth.currentUser.name //
      // auth.currentUser.website_url //
    </p>
  </div> -->
  <!-- <a ng-click="auth.logout()">Logout</a> -->

</div>
