<div class="grid wrap">

  <div class="unit one-fifth">
    <span class="pull-right">
      // educ.start_date | formatDate:educ.end_date //
      <!-- // educ.end_date | date:'yyyy' // -->
    </span>
  </div>
  <div class="unit four-fifths">
    <!-- <h3>
      // educ.name //
      <span class="pull-right">
        <a ng-href="// educ.website_url //" target="_blank">
          // educ.name //
        </a>
      </span>
    </h3> -->
    <div class="long-description" ng-bind-html='educ.description'></div>
  </div>

</div>
