<h3>
  // exp.job_title //
  <span class="pull-right">
    <a ng-href="// exp.employer.website_url //" target="_blank">
      // exp.employer.name //
    </a>
    , // exp.employer.city // // exp.employer.country | limitTo:2 //
  </span>
  <!-- <span class="pull-right">
    // exp.start_date | date:'yyyy' // - // exp.end_date | date:'yyyy' //
  </span> -->
</h3>
<div class="long-description">
  // exp.employer.description //
</div>

<!-- <div ng-bind-html="exp.accomplishments_description | nl2br"></div> -->
<br>
