<div id="welcome" class="grid wrap no-gutters">
  <div id="panel" class="unit whole">

    <div class="grid wrap">
      <div id="picture" class="unit two-thirds align-center elt">
        <!-- <ng-include src="'templates/menu.html'"></ng-include> -->
        <div class="profile-pic">
          <img src="&amp;s=150" alt="Gntics picture">
        </div>
      </div>
      <div id="info" class="unit one-third elt">
        <h1>Gntics
          <a class="pull-right" href="mailto:{{ site.data.user.mail }}">
            <i class="fa fa-envelope"></i>
          </a>
          <a class="pull-right" href="{{ site.data.github.user.html_url }}" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </h1>
        <h1 id="title">Software engineer</h1>
        <p class="align-center">
          I create web, mobile apps
          and other stuff
        </p>
        <ul id="multi-devices" class="grid wrap align-center">
          <li class="unit one-fifth">-----</li>
          <li class="unit one-fifth"><i class="fa fa-laptop fa-2x"></i></li>
          <li class="unit one-fifth"><i class="fa fa-tablet fa-2x"></i></li>
          <li class="unit one-fifth"><i class="fa fa-mobile fa-2x"></i></li>
          <li class="unit one-fifth">-----</li>
        </ul>
      </div>
    </div>

    <div class="grid wrap">
      <div id="experiences" class="unit three-fifths elt">
        <h1><i class="fa fa-history"></i> Experiences</h1>
        <ul>
          <li>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</li>
          <li>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</li>
          <li>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</li>
          <li>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</li>
          <li>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</li>
        </ul>
      </div>
      <div id="education-skills" class="unit two-fifths">
        <div class="grid wrap">
          <div id="skills" class="unit whole elt">
            <h1><i class="fa fa-terminal"></i> Skills</h1>
          </div>
        </div>
        <div class="grid wrap">
          <div id="education" class="unit whole elt">
            <h1><i class="fa fa-graduation-cap"></i> Education</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="grid wrap">
      <div id="languages" class="unit one-third elt">
        <h1><i class="fa fa-bullhorn"></i> Languages</h1>
      </div>
      <div id="interests" class="unit two-thirds elt">
        <h1><i class="fa fa-heart"></i> Interests</h1>
      </div>
    </div>

  </div>
</div>
