---
layout: default
title: Gntics - Blog
---

<div class="grid wrap">
  <div id="blog-posts"class="unit half animated bounceInLeft">
    <h1><i class="fa fa-paperclip"></i> Blog posts</h1>
    <ul>
      {% for post in site.posts %}
        <li>
          <i class="fa fa-terminal"></i>
          <span class="">{{ post.date | date_to_string }}</span>
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div id="side-projects" class="unit half animated bounceInRight">
    <h1><i class="fa fa-cubes"></i> Side projects</h1>
    <ul>
      {% for project in site.data.github.user_projects %}
        <li class="project">
          <i class="fa fa-terminal"></i>
          <span class="title">
            {{ project.name }}
          </span>
          <!--
          <a class="title" href="{{ project.html_url }}" target="_blank">
            {{ project.name }}
          </a>
          -->
          <!--
          <span class="{{ project.status }}"><i class="fa fa-cube"></i> {{ project.status }}</span>
          -->
          <!--
          <span class="starred">
            <i class="fa fa-star"></i>{{ project.stargazers_count }}
          </span>
          -->
          <!-- <span class="github-code">
            <a class="code" href="{{ project.html_url }}" target="_blank">
              <i class="fa fa-code"></i>code
            </a>
          </span> -->
          <p class="desc">
            {{ project.description }}<br/>
            <span class="link">
              <a href="{{ project.html_url }}" target="_blank">
                <i class="fa fa-github"></i> View on Github
              </a>
            </span>
            <!--
            <span class="link">
              <a href="{{ project.homepage }}" target="_blank">
                <i class="fa fa-link"></i> Visit project
              </a>
            </span>
            -->
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
