@import "global";

/* anim utils */
.delay-1s{
  @include anim-delay(1s);
}

.delay-2s{
  @include anim-delay(2s);
}

.delay-3s{
  @include anim-delay(3s);
}

/* sandbox anim */
@-webkit-keyframes expand {
  0% { width: 0px; }
  100% { width: 900px; }
}

@-moz-keyframes expand {
  0% { width: 0px; }
  100% { width: 900px; }
}

@-o-keyframes expand {
  0% { width: 0px; }
  100% { width: 900px; }
}

@keyframes expand {
  0% { width: 0px; }
  100% { width: 900px; }
}

.expand {
  @include anim-name(expand);
  @include anim-it-count(1);
  @include anim-f-mode(both);
  @include anim-delay(1s);
}

.slow{
  @include anim-dur(6s);
}

/* home anim */
#motivationals .unit, #focus-points ul li, #technos .logo{
  @include anim-delay(0.5s);
  @include anim-dur(0.8s);
}

#logo {
  @include anim-delay(0.45s);
}

ul.menu-icons-container li:nth-child(1) {
  @include anim-delay(0.5s);
}
ul.menu-icons-container li:nth-child(2) {
  @include anim-delay(0.55s);
}
ul.menu-icons-container li:nth-child(3) {
  @include anim-delay(0.6s);
}

/*.one .profile-pic {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  animation-delay: 3.5s;
}*/

div.trnstn ul li:nth-child(1), div.trnstn ul li:nth-child(2), div.trnstn ul li:nth-child(3) {
  @include anim-delay(1.5s);
}

/* typed.js */
.typed-cursor{
    color: $second-color;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* override animate.css duration */
.animated{
  @include anim-dur(1s);
}

/* header animation */
.animated-header{
  @include anim-dur(0.5s);
  @include anim-f-mode(both);
}


@-webkit-keyframes slideDown{
  0%{ -webkit-transform:translateY(-5em); }
  100%{ -webkit-transform:translateY(0); }
}

@-moz-keyframes slideDown{
  0%{ -moz-transform:translateY(-5em); }
  100%{ -moz-transform:translateY(0); }
}

@-o-keyframes slideDown{
  0%{ -o-transform:translateY(-5em); }
  100%{ -o-transform:translateY(0); }
}

@keyframes slideDown{
  0%{ transform:translateY(-5em); }
  100%{ transform:translateY(0); }
}

// .animated-header.slideDown
.slideDown{
  @include anim-name(slideDown);
}

@-webkit-keyframes slideUp{
  0%{ -webkit-transform:translateY(0); }
  100%{ -webkit-transform:translateY(-5em); }
}

@-moz-keyframes slideUp{
  0%{ -moz-transform:translateY(0); }
  100%{ -moz-transform:translateY(-5em); }
}

@-o-keyframes slideUp{
  0%{ -o-transform:translateY(0); }
  100%{ -o-transform:translateY(-5em); }
}

@keyframes slideUp{
  0%{ transform:translateY(0); }
  100%{ transform:translateY(-5em); }
}

// .animated-header.slideUp
.slideUp{
  @include anim-name(slideUp);
}