@import "global";

@-webkit-keyframes expand {
  0% { width: 0px; }
  100% { width: 900px; }
}

@-moz-keyframes expand {
  0% { width: 0px; }
  100% { width: 900px; }
}

@-o-keyframes expand {
  0% { width: 0px; }
  100% { width: 900px; }
}

@keyframes expand {
  0% { width: 0px; }
  100% { width: 900px; }
}

.expand {
  -webkit-animation-name: expand;
  -moz-animation-name: expand;
  -o-animation-name: expand;
  animation-name: expand;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

.slow{
  -webkit-animation-duration: 6s;
  -moz-animation-duration: 6s;
  -o-animation-duration: 6s;
  animation-duration: 6s;
}

#motivationals .unit, #focus-points ul li, #technos .logo{
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

#logo {
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  animation-delay: 0.45s;
}

ul.menu-icons-container li:nth-child(1) {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
ul.menu-icons-container li:nth-child(2) {
  -webkit-animation-delay: 0.55s;
  -moz-animation-delay: 0.55s;
  -o-animation-delay: 0.55s;
  animation-delay: 0.55s;
}
ul.menu-icons-container li:nth-child(3) {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

/*.one .profile-pic {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  animation-delay: 3.5s;
}*/

div.trnstn ul li:nth-child(1), div.trnstn ul li:nth-child(2), div.trnstn ul li:nth-child(3) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

/* typed.js */
.typed-cursor{
    color: $second-color;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* override animate.css duration */
.animated{
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

/* header animation */
.animated-header{
  -webkit-animation-duration:.5s;
  -moz-animation-duration:.5s;
  -o-animation-duration:.5s;
  animation-duration:.5s;
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
}


@-webkit-keyframes slideDown{
  0%{ -webkit-transform:translateY(-5em); }
  100%{ -webkit-transform:translateY(0); }
}

@-moz-keyframes slideDown{
  0%{ -moz-transform:translateY(-5em); }
  100%{ -moz-transform:translateY(0); }
}

@-o-keyframes slideDown{
  0%{ -o-transform:translateY(-5em); }
  100%{ -o-transform:translateY(0); }
}

@keyframes slideDown{
  0%{ transform:translateY(-5em); }
  100%{ transform:translateY(0); }
}

.animated-header.slideDown{
  -webkit-animation-name:slideDown;
  -moz-animation-name:slideDown;
  -o-animation-name:slideDown;
  animation-name:slideDown;
}

@-webkit-keyframes slideUp{
  0%{ -webkit-transform:translateY(0); }
  100%{ -webkit-transform:translateY(-5em); }
}

@-moz-keyframes slideUp{
  0%{ -moz-transform:translateY(0); }
  100%{ -moz-transform:translateY(-5em); }
}

@-o-keyframes slideUp{
  0%{ -o-transform:translateY(0); }
  100%{ -o-transform:translateY(-5em); }
}

@keyframes slideUp{
  0%{ transform:translateY(0); }
  100%{ transform:translateY(-5em); }
}

.animated-header.slideUp{
  -webkit-animation-name:slideUp;
  -moz-animation-name:slideUp;
  -o-animation-name:slideUp;
  animation-name:slideUp;
}