#motivationals .unit, #focus-points ul li, #technos .logo{
   -webkit-animation-delay: 0.5s;
   -moz-animation-delay: 0.5s;
   -o-animation-delay: 0.5s;
   animation-delay: 0.5s;
   -webkit-animation-duration: 0.8s;
   -moz-animation-duration: 0.8s;
   -o-animation-duration: 0.8s;
   animation-duration: 0.8s;
}

#logo {
  -webkit-animation-delay: 2.45s;
  -moz-animation-delay: 2.45s;
  -o-animation-delay: 2.45s;
  animation-delay: 2.45s;
}

ul.menu-icons-container li:nth-child(1) {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
ul.menu-icons-container li:nth-child(2) {
  -webkit-animation-delay: 2.55s;
  -moz-animation-delay: 2.55s;
  -o-animation-delay: 2.55s;
  animation-delay: 2.55s;
}
ul.menu-icons-container li:nth-child(3) {
  -webkit-animation-delay: 2.6s;
  -moz-animation-delay: 2.6s;
  -o-animation-delay: 2.6s;
  animation-delay: 2.6s;
}
.one .profile-pic {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

div.trnstn ul li:nth-child(1), div.trnstn ul li:nth-child(2), div.trnstn ul li:nth-child(3) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s;
}



/*.intro {
  position: relative;
  display: block;
  overflow: hidden;
  width: 0em;
  height: 1.25em;
  margin: .5em auto;
  font-size: 2em;
  line-height: 1.5em;
  border-right: .125em solid #46beb2;
  box-sizing: content-box;
  -webkit-animation-name: blink-start, typing, blink-end;
  -webkit-animation-duration: 1s, 1s, 1s;
  -webkit-animation-timing-function: linear, steps(13, end), linear;
  -webkit-animation-delay: 0s, 1s, 2s;
  -webkit-animation-iteration-count: 1, 1, infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
}

.intro span {
  display: block;
  width: 6.5em;
  height: 1.25em;
}

@-webkit-keyframes typing {
  from { width: 0em; }
  to   { width: 6.5em; }
}

@-webkit-keyframes blink-start {
  from, to { border-color: #46beb2; }
  50% { border-color: transparent; }
}

@-webkit-keyframes blink-end {
  from, to { border-color: #46beb2; }
  50% { border-color: transparent; }
}
*/

/* override animate.css duration */
.animated{
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

/* header animation */
.animated-header{
  -webkit-animation-duration:.5s;
  -moz-animation-duration:.5s;
  -o-animation-duration:.5s;
  animation-duration:.5s;
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
}


@-webkit-keyframes slideDown{
  0%{ -webkit-transform:translateY(-5em); }
  100%{ -webkit-transform:translateY(0); }
}

@-moz-keyframes slideDown{
  0%{ -moz-transform:translateY(-5em); }
  100%{ -moz-transform:translateY(0); }
}

@-o-keyframes slideDown{
  0%{ -o-transform:translateY(-5em); }
  100%{ -o-transform:translateY(0); }
}

@keyframes slideDown{
  0%{ transform:translateY(-5em); }
  100%{ transform:translateY(0); }
}

.animated-header.slideDown{
  -webkit-animation-name:slideDown;
  -moz-animation-name:slideDown;
  -o-animation-name:slideDown;
  animation-name:slideDown;
}

@-webkit-keyframes slideUp{
  0%{ -webkit-transform:translateY(0); }
  100%{ -webkit-transform:translateY(-5em); }
}

@-moz-keyframes slideUp{
  0%{ -moz-transform:translateY(0); }
  100%{ -moz-transform:translateY(-5em); }
}

@-o-keyframes slideUp{
  0%{ -o-transform:translateY(0); }
  100%{ -o-transform:translateY(-5em); }
}

@keyframes slideUp{
  0%{ transform:translateY(0); }
  100%{ transform:translateY(-5em); }
}

.animated-header.slideUp{
  -webkit-animation-name:slideUp;
  -moz-animation-name:slideUp;
  -o-animation-name:slideUp;
  animation-name:slideUp;
}