@import "global";

div#blog-posts{
  margin-bottom: 2em;
  span{
    margin-right: 5px;
  }
}

div#side-projects{
  margin-bottom: 2em;
  ul{
    li.project{
      margin-bottom: 5px;
      span{
        font-size: 13px;
        font-weight: normal;
        font-style: italic;
        margin-left: 15px;
      }
      .starred{
        font-style: normal;
      }
      .github-code{

      }
      .mock-up{
        color: $project-mock-up-color;
      }
      .active{
        color: $project-active-color;
      }
      .inactive{
        color: $project-inactive-color;
      }
      p.desc{
        margin: 0 !important;
      }
      a.title{
        color: $first-color;
        font-weight: $fweight-normal;
      }
      a.code{
        color: $grey;
      }
    }
  }
}
