@import "global";

div#home{
  p.intro{
    font-size: 2.5em;
  }

  div#quote{
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 397px){
  #quote{
    span{
      display: none;
    }
  }
}

.trnstn{
  margin: 3em 0 3em 0;
  min-height: 7em;
  ul{
    li{
      line-height: 5em;
      text-align: center;
      display: inline-block;
      float: left;
      vertical-align: middle;
    }
  }
}

.icon{
  @include border-radius(40px);
  cursor: pointer;
  height: 79px;
  width: 79px;
  margin: 0 auto;
  border: 1px solid $brown-light;
}

.logo{
  @include border-radius(50px);
  cursor: pointer;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border: 2px solid $brown-light;
  background-color: white;
  overflow: hidden;
  /* vertical & horizontal align */
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.one{
  .profile-pic{
    @include border-radius(75px);
    height: 150px;
    width: 150px;
    border: 2px solid white;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.two{
  text-align: center;
  #motivationals{
    margin-bottom: 1em;
    font-size: 2em;
  }
}

.three{
  text-align: center;
  #focus-points{
    font-size: 2em;
  }
}

.fourth{
  text-align: center;
  margin-bottom: 4em;
  ul#technos{
    max-width: 37.5em;
    margin: 0 auto;
    li{
      float: left;
      margin: 0.5em;
      height: 6.5em;
      width: 6.5em;
    }
    #postgres{
      margin-top: 10px;
    }
    #git, #github, #coffeescript{
      margin-top: 5px;
    }
    #jenkins{
      margin-top: 6px;
    }
    #bootstrap{
      margin-top: 4px;
    }
    #agile{
      font-size: 0.8em;
    }
    a, a:visited, a:hover{
      color: $brown-light;
      text-decoration: none;
    }
  }
}