@import "global";

body#resume{
  div#console{
    div#console-header{
      margin-top: 40px;
      text-align: center;
      //margin: 0 20px;
      padding: 5px 0;
      @include border-radius(5px 5px 0 0);
      color: #414141;
      background-color: #f7f7f7;
      background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #cfcfcf 7%, #aaaaaa 100%);
      -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    }
    div#console-typing{
      overflow-y: auto;
      height: 500px;
      margin-bottom: 40px;
      padding: 20px;
      //margin: 0 20px;
      @include border-radius(0 0 5px 5px);
      background-color: #3d3d3d;
      -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);

      p.line{
        margin: 0px;
        color: white;
        span{
          font-weight: 400;
        }
        span.pre{
          color: #FFB800;
        }
        span.folder{
          color: #00FFFF;
        }
        span.git{
          color: #2E58FE;
        }
        span.branch{
          color: #FE2E2E;
        }
        input#cmd{
          font-size: 0.9em; //not the same font :/
          color: white;
          //width: 80%;
          border: none;
          background-color: transparent;
        }
        input#cmd:focus{
          outline: none;
        }
      }
      p#help{
        span.cmd-use{
          display: inline-block;
          width: 110px;
          margin-left: 25px;
        }
        span.cmd-desc{
          //display: block;
          //position: relative;
        }
      }
    }
  }
  // background-color: rgba(0, 0, 0, 0.85); //#1C1C1C
  //
  // p{
  //   margin: 0;
  //   color: white;
  // }
  //
  // section#content{
  //   font-size: 1.1em;
  //   i.arrow{
  //     color: #01DF01;
  //     margin-left: 5px;
  //     margin-right: 10px;
  //   }
  //   span{
  //     font-weight: 400;
  //   }
  //   span.elt{
  //     margin-right: 10px;
  //   }
  //   span.name{
  //     color: #00FFFF;
  //   }
  //   span.git{
  //     color: #2E2EFE;
  //   }
  //   span.branch{
  //     color: #FE2E2E;
  //   }
  //   div#text-wrapper{
  //     .cmd-use, .cmd-desc{
  //       margin-left: 15px;
  //     }
  //   }
  //   div#input-wrapper{
  //     input#cmd{
  //       font-size: 0.9em; //not the same font :/
  //       color: white;
  //       width: 80%;
  //       border: none;
  //       background-color: transparent;
  //     }
  //     input#cmd:focus{
  //       outline: none;
  //     }
  //   }
  // }
}
