body#resume{
  background-color: rgba(0, 0, 0, 0.85); //#1C1C1C

  p{
    margin: 0;
    color: white;
  }

  section#content{
    font-size: 1.1em;
    i.arrow{
      color: #01DF01;
      margin-left: 5px;
      margin-right: 10px;
    }
    span{
      font-weight: 400;
    }
    span.elt{
      margin-right: 10px;
    }
    span.name{
      color: #00FFFF;
    }
    span.git{
      color: #2E2EFE;
    }
    span.branch{
      color: #FE2E2E;
    }
    div#text-wrapper{
      .cmd-use, .cmd-desc{
        margin-left: 15px;
      }
    }
    div#input-wrapper{
      input#cmd{
        font-size: 0.9em; //not the same font :/
        color: white;
        width: 80%;
        border: none;
        background-color: transparent;
      }
      input#cmd:focus{
        outline: none;
      }
    }
  }
}