<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title }}</title>

  <!-- font -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  {% stylesheet application %}
</head>
<body>

  {% include header.html %}

  <section id="content_wrapper">
    <div id="content">
    {{ content }}
    </div>
    <div class="push"></div>
  </section>

  {% include footer.html %}

  {% javascript application %}
  {% if page.include_js_file %}
    {{ page.include_js_file | javascript }}
  {% endif %}

  {% include ga.html %}
</body>
</html>
